<div class="card-columns m-5 animated fadeIn">
  <div
    (click)="verArtista(valor)"
    *ngFor="let valor of valores"
    class="card puntero"
  >
    <img [src]="valor.images | noimg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ valor.name }}</h5>
      <p class="card-text">
        <span
          *ngFor="let artista of valor.artists"
          class="badge badge-pill badge-info"
        >
          {{ artista.name }}
        </span>
      </p>
    </div>
  </div>
</div>
