<app-cargando *ngIf="cargando"></app-cargando>

<div *ngIf="!cargando" class="row animated fadeIn">
  <div class="col-2">
    <img [src]="artista.images | noimg" class="img-thumbnail img-circle" />
  </div>
  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista?.external_urls.spotify" target="_blank"
        >Página de {{ artista.name }}</a
      >
    </p>
  </div>
  <div class="col-4 text-right">
    <button [routerLink]="['/busqueda']" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table table-bordered tabled-striped">
      <thead>
        <tr class="text-light">
          <th>Imagen</th>
          <th>Álbum</th>
          <th>Canción</th>
          <th>Vista previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cancion of mejoresCanciones" class="text-light">
          <td>
            <img
              [src]="cancion.album['images'] | noimg"
              alt=""
              class="img-thumbnail img-thumb"
            />
          </td>
          <td>{{ cancion.album.name }}</td>
          <td>{{ cancion.name }}</td>
          <td>
            <iframe
              [src]="cancion.uri | domseguro"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </td>
          <ng-template #noPreview>
            <p>No reproducible</p>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
